<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task List</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
	</head>
	<body>
		<nav class="sidebar close">
			<header>
				<div class="image-text">
					<span class="image">
						<img src="/img/logo1.png" alt="logo" id="logo" />
					</span>
					<div class="text logo-text">
						<span class="name">PlannerBuddy</span>
					</div>
				</div>
			</header>

			<div class="menu-bar">
				<div class="menu">
					<ul class="menu-links">
						<li class="nav-link">
							<a href="/calendar">
								<i class="bx bx-calendar icon"></i>
								<span class="text nav-text">Calendar</span>
							</a>
						</li>
					</ul>
				</div>

				<div class="bottom-content">
					<li class="">
						<a href="/login">
							<i class="bx bx-log-out icon"></i>
							<span class="text nav-text">Logout</span>
						</a>
					</li>

					<li class="mode">
						<div class="sun-moon">
							<i class="bx bx-moon icon moon"></i>
							<i class="bx bx-sun icon sun"></i>
						</div>
						<span class="mode-text text">Dark mode</span>

						<div class="toggle-switch">
							<span class="switch"></span>
						</div>
					</li>
				</div>
			</div>
		</nav>
		<div
			class="welcome-username"
			style="
				margin-left: 280px;
				margin-bottom: -25px;
				margin-top: 20px;
				color: var(--text-color);
				font-size: 24px;
			"
		>
			<form th:action="@{'/login/' + ${us.id}}" method="post">
				<h1>Welcome <span th:text="${us.username}"></span>!</h1>
			</form>
		</div>

		<div class="wrapper">
			<header>
				Today's Tasks
				<div class="title-content">
					<p id="today-date"></p>
					<form method="post" th:action="@{/users/add(id=${us.id})}">
						<input type="text" name="activity" placeholder="Enter a task..." />
						<button type="submit">+</button>
					</form>
				</div>
			</header>
			<div class="content">
				<ul class="task-list" id="list-container-1">
					<li
						th:each="todo1 : ${todos1}"
						data-uid="${todo1.uid}"
						class="task-wrapper"
					>
						<div>
							<input type="checkbox" class="checkbox-task" />
							<label
								th:if="${todo1.activity != null and todo1.activity.trim() != ''}"
								th:text="${todo1.activity}"
								class="strikethrough"
							></label>
							<button
								class="delete-button"
								th:onclick="'deleteTodo('+${todo1.uid}+')'"
							>
								<img src="/img/redcross.png" alt="Delete" />
							</button>
						</div>
						<div class="icon-wrapper" data-modal="modal-1">
							<button  class="icon map-button"><i class="fa-regular fa-map"></i></a>
							<button class="icon calendar-icon"><i class="fa-regular fa-calendar"></i></a>
						</div>
						<dialog class = "mapModal" id = "modal-1"> 
							 <div class="modal-content">
        						<span class="close">&times;</span>
        						<label for="inputText">Destination : </label>
        						<input type="text" class="inputText" name="inputText">
        						<button class="search-button">Search</button>
    						</div>
						</dialog>
					</li>
				</ul>
			</div>
		</div>

		<div class="wrapper">
			<header>
				Tomorrow's Tasks
				<div class="title-content">
					<p id="tomorrow-date"></p>
					<form method="post" th:action="@{/users/add2(id=${us.id})}">
						<input type="text" name="activity2" placeholder="Enter a task..." />
						<button type="submit">+</button>
					</form>
				</div>
			</header>
			<div class="content">
				<ul class="task-list" id="list-container-2">
					<li
						th:each="todo2 : ${todos2}"
						data-uid="${todo2.uid}"
						class="task-wrapper"
					>
						<div>
							<input type="checkbox" class="checkbox-task" />
							<label
								th:if="${todo2.activity2 != null and todo2.activity2.trim() != ''}"
								th:text="${todo2.activity2}"
								class="strikethrough"
							></label>
							<button
								class="delete-button"
								th:onclick="'deleteTodo('+${todo2.uid}+')'"
							>
								<img src="/img/redcross.png" alt="Delete" />
							</button>
						</div>
						<div class="icon-wrapper" data-modal="modal-2">
							<button class="icon map-button"><i class="fa-regular fa-map"></i></a>
							<button class="icon calendar-icon"><i class="fa-regular fa-calendar"></i></a>
						</div>
						<dialog class = "mapModal" id = "modal-2"> 
							 <div class="modal-content">
        						<span class="close">&times;</span>
        						<label for="inputText">Destination : </label>
        						<input type="text" class="inputText" name="inputText">
        						<button class="search-button">Search</button>
    						</div>
						</dialog>
					</li>
				</ul>
			</div>
		</div>

		<div class="wrapper">
			<header>
				Upcoming Tasks
				<div class="title-content">
					<form method="post" th:action="@{/users/add3(id=${us.id})}">
						<input type="text" name="activity3" placeholder="Enter a task..." />
						<button type="submit">+</button>
					</form>
				</div>
			</header>
			<div class="content">
				<ul class="task-list" id="list-container-3">
					<li
						th:each="todo3 : ${todos3}"
						data-uid="${todo3.uid}"
						class="task-wrapper"
					>
						<div>
							<input type="checkbox" class="checkbox-task" />
							<label
								th:if="${todo3.activity3 != null and todo3.activity3.trim() != ''}"
								th:text="${todo3.activity3}"
								class="strikethrough"
							></label>
							<button
								class="delete-button"
								th:onclick="'deleteTodo('+${todo3.uid}+')'"
							>
								<img src="/img/redcross.png" alt="Delete" />
							</button>
						</div>
						<div class="icon-wrapper" data-modal="modal-3">
							<button  class="icon map-button"><i class="fa-regular fa-map"></i></a>
							<button class="icon calendar-icon"><i class="fa-regular fa-calendar"></i></a>
						</div>
						<dialog class = "mapModal" id = "modal-3"> 
							 <div class="modal-content">
        						<span class="close">&times;</span>
        						<label for="inputText">Destination : </label>
        						<input type="text" class="inputText" name="inputText">
        						<button class="search-button">Search</button>
    						</div>
						</dialog>
					</li>
				</ul>
			</div>
		</div>

		<script src="/js/script.js"></script>
	</body>
</html>
