<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/img/logo1.png" alt="logo" id="logo">
                </span>

                <div class="text logo-text">
                    <span class="name">PlannerBuddy</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="tasklist.html" id="taskListLink">
                            <i class='bx bx-task icon' ></i>
                            <span class="text nav-text">Task List</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bookmark icon' ></i>
                            <span class="text nav-text">Categories</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-map icon'></i>
                            <span class="text nav-text">Map</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-calendar icon'></i>
                            <span class="text nav-text">Calendar</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
            
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>

    </nav>
    <div class="wrapper">
        <header>
            
            Today's Tasks
            <div class="title-content">
                <p id="today-date"></p>
                <button id="addButton-1">+</button>
            </div>
        </header>
        <div class="content">
            <ul class="task-list" id="list-container-1">
            </ul>
        </div>
    </div>
    
    <div class="wrapper">
        <header>
            Tomorrow's Tasks
            <div class="title-content">
                <p id="tomorrow-date"></p>
                <button id="addButton-2">+</button>
            </div>
        </header>
        <div class="content">
            <ul class="task-list" id="list-container-2">
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <header>
            Upcoming Tasks
            <div class="title-content">
                <button id="addButton-3">+</button>
            </div>
        </header>
        <div class="content">
            <ul class="task-list" id="list-container-3">
            </ul>
        </div>
    </div>

    
    <script src="/js/script.js"></script>
</body>
</html>
